/*
    body {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        margin-left: 1px;
        margin-top: 5px;
        margin-right: 5px;
    }

    a:link {
        color: #0033FF;
        text-decoration: none
    }

    a:visited {
        color: #0033FF;
        text-decoration: none
    }

    a:active {
        color: #0033FF;
        text-decoration: none
    }

    a:hover {
        color: black;
        text-decoration: underline
    }


	h3 { color: red}
	p {color: blue}

	table {
		border-collapse: collapse;
	}	
	table, th, td {
		border: 1px solid red;
		padding: 2px;
	}	
*/

	h3 {
		text-align: center;
		font-family: georgia;
		color: #727272;
		border-bottom: 2px solid #CAE7EE;
		padding: 5px;
		font-size: x-large;
		margin-top: 10px;
		cursor: initial;
	}
	h2 {
	    padding: 2px;
		font-size: x-large;
		cursor: initial;
		margin: 1px;
	}	
	.header {
        /*position: relative;*/
        background-color: #D2E9FF;
        border: 1px solid #5280FF;
        text-align: center;
        vertical-align: middle;
		cursor: initial;
        overflow: visible;
    }
	
	.title {
			color: White;
			font-size: 300%;
			font-family: 'Shadows Into Light', Arial;
			text-shadow: 2px 2px 2px #aaa;
			cursor: initial;
	}

	.subtitle {
			color: White;
			font-family: georgia;
			font-size: 100%;
			cursor: initial;
	}


	 .picture {
            color: White;
            text-align: center;
            vertical-align: middle;
		 	background-color: #000;
            text-shadow: 2px 2px 2px #aaa;
			cursor: initial;
    }
	.left_button {
		float: left;
		vertical-align: middle;
		margin: 10px
    }
	.right_button {
		float: right;
		vertical-align: middle;
		margin: 10px
    }
	.appdiv {
            float:left;
            padding: 5px;
			margin: 5px;
			/*height: 600px;
            overflow: visible;*/
			border:1px solid #D2E9FF;
    }

	.reportdiv {
			border:1px solid #D2E9FF;
			float:right;
			/*height: 600px;*/
            padding: 5px;
			margin: 5px;
			margin-right:10px;
			color: #D2E9FF;
            overflow: auto
      }
	  
	#parent_div_1 {
		/*height: 600px;*/
		max-width: 49%;
		min-width: 45%;
		margin-right:10px;
		padding: 5px;
		float:left;
        z-index: 0;
		overflow: auto
	}
	
	.child_div_1{
		float:left;
		margin-right:5px;
	}		

	#tableBox {
            padding: 4px;
			margin: 2px;
			color: blue;
    }	

.view, .navbar
{
  padding: 2px; margin: 10px; 
}

@media screen {
  .noPrint{ display: block; }
  .view { font-size: 14px }
  .yesPrint{ display: block !important; }
}

@media print {
  .noPrint{ display: none; }
  .view { font-size: 8px }
  .yesPrint{ display: block !important; }
}
