﻿<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
</style>
<div class="view">
<!--    <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
        <a class= "navbar-brand" href= "#/customers"><i class="glyphicon glyphicon-th-large"></i> Customers List </a>
        <a ng-show="student._id" class= "navbar-brand" href= "#/edit-customer/0"><i class="glyphicon glyphicon-plus"></i> Create Customer </a>
        <a ng-show="student._id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Customer Number: {{student._id}}</a>
        </div>
        </nav>-->
        <header ng-show="error.indexOf('Created')==-1">
            <h3>{{title}}</h3>
        </header>
<div class="col-md-12">
<div ng-show="error" class="alert alert-danger">{{error}}</div>
    
<form ng-show="error.indexOf('Created')==-1" role="form" name="myForm" class="form-horizontal" ng-submit="saveStudent(student);">
<div class="row">
<div class= "form-group">
    <label class= "col-md-2"> Name </label>
    <div class="col-md-4">
    <input name="name" ng-model="student.name" type= "text" class= "form-control" placeholder="Your name" required/>
    <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Name Required</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2"> Email address </label>
    <div class="col-md-4">
    <input name="email" ng-model="student.email" type= "email" class= "form-control" placeholder="Enter email" required/>
    <span ng-show="myForm.email.$dirty && myForm.email.$invalid && !myForm.email.$error.email" class="help-inline">Email Required</span>
    <span ng-show="myForm.email.$error.email" class="help-inline">Email is not valid</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Address </label>
    <div class="col-md-4">
    <input ng-model="student.address" type= "text" class= "form-control" placeholder= "Street Address"/>
    </div>
    <label class= "col-md-2">City </label>
    <div class="col-md-4">
    <input ng-model="student.city" ng-maxlength="50" type= "text" class= "form-control" placeholder= "City"/>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">State/Country </label>
    <div class="col-md-4">
    <input ng-model="student.state" ng-maxlength="50" type= "text" class= "form-control" placeholder= "State/Country"/>
    </div>
    <label class="col-md-2">Zip/Postal Code </label>
    <div class="col-md-4">
    <input ng-model="student.zip" ng-maxlength="20" type= "text" class= "form-control" placeholder= "Zip/Postal Code"/>
    </div>
</div>
<div class= "form-group">
    <label class="col-md-2">Phone no. </label>
    <div class="col-md-4">
    <input ng-model="student.phone" ng-maxlength="25" type= "text" class= "form-control" placeholder= "Phone"/>
    </div>
    <label class="col-md-2">Web </label>
    <div class="col-md-4">
    <input ng-model="student.web" ng-maxlength="500" type= "text" class= "form-control" placeholder= "Web Address"/>
    </div>

</div>
<div class= "form-group">
    <label class="col-md-2">Contact person</label>
    <div class="col-md-4">
    <input ng-model="student.contact_person" ng-maxlength="50" type= "text" class= "form-control" placeholder= "Contact person"/>
    </div>
    <label class="col-md-2">Contact person 2</label>
    <div class="col-md-4">
    <input ng-model="student.contact_person2" ng-maxlength="50" type= "text" class= "form-control" placeholder= "Contact person 2"/>
    </div>
    
</div>
    <div ng-show="_id==0" class="form-group"><hr>
        <label class="col-md-2" for="username">Username</label>
        <div class="col-md-4">
        <input type="text" name="username" id="username" class="form-control" 
           ng-minlength="6"  ng-maxlength="25" ng-model="student.user" placeholder= "6-25 chars" required />
        </div>   
        <div class="help-inline col-md-4">Username is required (6-25 chars)</div>
        <!--<span ng-show="myForm.username.$dirty && myForm.username.$error.required" class="help-inline">Username is required</span>-->
        
    </div>
    <div ng-show="_id==0" class="form-group">
        <label class="col-md-2" for="password">Password</label>
        <div class="col-md-4">
        <input type="password" name="password" id="password" class="form-control"  
           ng-minlength="6"  ng-maxlength="20" ng-model="student.password" placeholder= "6-20 chars" required />
        </div>
        <div class="help-inline col-md-4">Password is required (6-20 chars)</div>
    </div>

    <div ng-show="_id==0" class="form-group">
        <label class="col-md-2" for="new_password">Confirm Password</label>
        <div class="col-md-4">
        <input type="password" name="new_password" id="new_password" class="form-control"
           ng-minlength="6"  ng-maxlength="20" maxlength=20 ng-model="new_password" placeholder= "6-20 chars" required
               compare-to="student.password"/>
        </div>
        <div ng-show="myForm.new_password.$dirty && myForm.new_password.$error.compareTo" style="color: #ff2832" class="help-inline col-md-4">
            Password mismatch!</div>
    </div>

<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="#/" class="btn">Cancel</a>
        <button type="submit" 
                ng-disabled="isClean() || myForm.$invalid || dataLoading"
                class="btn btn-primary">{{buttonText}}</button>
        <!--<button ng-click="deleteCustomer(customer)"
                ng-show="student._id" class="btn btn-warning">Delete</button>-->
    </div>
</div>
</div>
</form>

</div>
</div>
