﻿<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
  .form-inline input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-inline input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td 
{
  padding: 1px;
}

.panel, .panel-footer, .panel-body, .table, .panel-heading
{
  padding: 2px; margin-top: 2px; margin-bottom: 2px; 
}

.panel-body {
    min-height:400px;
    overflow:  visible;
}

@media only screen and (max-width: 768px) { 
 .panel-body {
    height:auto;
    /*overflow: scroll;*/
  }   
}

</style>

<script>
  function maxLengthCheck(object) {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }
    
  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /[0-9]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }

</script>

<div class="view">
<!--
<div class="container"> -->
  <h3>{{ title }}</h3>
<!--        <header>
            <h3>{{ title }}</h3>
        </header>

<div class="col-md-12">-->
    
<form role="form" name="myForm" class="form-inline">
<div class= "form-group" ng-class="{error: myForm.name.$invalid}">
    <label>Name: </label>
    <input name="name" ng-model="sheet.name" type="text" class= "form-control input-sm" placeholder="Sheet name" required/>
    <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Name Required</span>
</div>
<div class= "form-group">    
    <label>Description: </label>
        <input ng-model="sheet.description" type="text" class= "form-control input-sm" placeholder= "Sheet description"/>
        <label>&nbsp;</label>
        <label>Date: </label> 
        <input ng-model="sheet.datetime" type="text" class= "form-control input-sm" id="datetimepicker_dark" />
        <!--<p class="form-control-static">{{parseDate(sheet.datetime) | date:'medium'}}</p>-->    
</div>            
<div class= "form-group">    
    <a href="#/sheets" class="btn">Cancel</a>
    <button ng-click="saveSheet(sheet);" 
                ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">{{buttonText}}</button>
        <!--<button ng-click="deleteSheet(sheet)"
                ng-show="sheet.id" class="btn btn-warning">Delete</button>
        -->        
</div>
</form>
<br>
<!--</div>
</div>
<div class="container">
 --> 
 <div ng-show="_id>0" class="text-right">
   <h2>Grand Total: {{ getGrandTotal(false, 3) | currency}}&nbsp;&nbsp;
   <a ng-disabled="data.status == 0" href="#/print-sheet/{{_id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-print"></i>&nbsp; Print View</a>
   </h2>
  </div>
  <div ng-repeat="head in sheet.heads" ng-init="id = $index">
     <div class="panel panel-primary col-md-3">
      <div class="panel-heading"><h2>{{head.name}}</h2></div>
      <div class="panel-body">
        <form>
          <table class="table table-striped table-responsive table-condensed">
            <thead>
              <tr class="info">
                <th>Bill</th>
                <th nowrap>No. of bills</th>
                <th class="text-right">Total&nbsp;&nbsp;</th>
				<th style="border-left: 2px solid #000; margin:5px"></th>
				<th>Bill</th>
                <th nowrap>No. of bills</th>
                <th class="text-right">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <input class="form-control input-sm" ng-model="head.cash.bill_1" type="text" ng-click="onTextClick($event)" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength = "4"  min="0"></td>
                <td class="text-right">{{1 * head.cash.bill_1 | currency}}</td>
             <!-- </tr>
              <tr>-->
			  <td style="border-left: 2px solid #000; margin-left: 5px; margin-right: 5px"></td>
                <td>2</td>
                <td>
                  <input class="form-control input-sm" ng-model="head.cash.bill_2" type="text" ng-click="onTextClick($event)" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength = "4"  min="0"></td>
                <td class="text-right">{{2 * head.cash.bill_2 | currency}}</td>
              </tr>
              <tr>                
                <td>5</td>
                <td><input class="form-control input-sm" ng-model="head.cash.bill_5" type="text" ng-click="onTextClick($event)" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength = "4"  min="0"></td>
                <td class="text-right">{{5 * head.cash.bill_5 | currency}}</td>
              <td style="border-left: 2px solid #000; margin-left: 5px; margin-right: 5px"></td>
                <td>10</td>
                <td><input class="form-control input-sm" ng-model="head.cash.bill_10" type="text" ng-click="onTextClick($event)" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength = "4"  min="0"></td>
                <td class="text-right">{{10 * head.cash.bill_10 | currency}}</td>
              </tr>
              <tr>
                <td>20</td>
                <td><input class="form-control input-sm" ng-model="head.cash.bill_20" type="text" ng-click="onTextClick($event)" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength = "4"  min="0"></td>
                <td class="text-right">{{20 * head.cash.bill_20 | currency}}</td>
              <td style="border-left: 2px solid #000; margin-left: 5px; margin-right: 5px"></td>
                <td style="width:50px;">50</td>
                <td><input class="form-control input-sm" ng-model="head.cash.bill_50" type="text" ng-click="onTextClick($event)" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength = "4"  min="0"></td>
                <td class="text-right">{{50 * head.cash.bill_50 | currency}}</td>
              </tr>
              <tr>
                <td style="width:50px;">100</td>
                <td><input class="form-control input-sm" ng-model="head.cash.bill_100" type="text" ng-click="onTextClick($event)" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength="4" min="0"></td>
                <td style="width:75px;" class="text-right">{{100 * head.cash.bill_100 | currency}}</td>
               <td style="border-left: 2px solid #000; margin-left: 5px; margin-right: 5px"></td>
                <td colspan=2 >Other Cash</td>
                <td style="width:75px;"><input class="form-control input-sm" ng-model="head.cash.other_amount" type="text" ng-click="onTextClick($event)" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength="7" min="0"></td>                
              </tr>                                                                                                 
            </tbody>
            <thead>
              <tr class="success">
                <th>Total</th>
                <th colspan=3 class="text-center">{{1 * (head.cash.bill_100||0) + 1 * (head.cash.bill_50||0) + 1 * (head.cash.bill_20||0) + 1 * (head.cash.bill_10||0) + 1 * (head.cash.bill_5||0) + 1*(head.cash.bill_2||0) + 1*(head.cash.bill_1||0)}}</th>
                <th colspan=3 class="text-right">{{100 * (head.cash.bill_100||0) + 50 * (head.cash.bill_50||0) + 20 * (head.cash.bill_20||0) + 10 * (head.cash.bill_10||0) + 5 * (head.cash.bill_5||0) + 2 * (head.cash.bill_2||0) + 1 * (head.cash.bill_1||0) + 1 * (head.cash.other_amount||0)| currency}}</th>
              </tr>
            </thead>            
          </table>          

          <table class="table table-striped table-responsive table-condensed" style="height: 100px;overflow: auto;">
            <thead>
              <tr class="info">
                <td class="label-warning text-right"><button type="button" title="Add.." ng-click="addChq(id);" class="btn btn-xs btn-link">
                  <i class="glyphicon glyphicon-plus"></i></button>
                </td>  
                <th>Name</th>
                <th nowrap>Cheque #</th>
                <th nowrap>Desc</th>
                <th>Amount&nbsp;</th>
                <td class="label-warning text-right">
                  <a title="Quick Entry" ng-click="toggleChq(id);" class="noPrint">
                  <i ng-class="(head.chq_display?'glyphicon glyphicon-th-list':'glyphicon glyphicon-th')"></i></a>               
                </td>                
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cc in head.chq">
                <td><button type="button" title="Remove..{{ $index }}" ng-click="deleteRecord(cc, $index);" class="btn btn-xs btn-link">
                  <i class="glyphicon glyphicon-trash"></i></button></td>  
                <td><input class="form-control input-sm" ng-model="cc.name" type="text"></td>
                <td><input class="form-control input-sm" ng-model="cc.check_no" type="text" ng-click="onTextClick($event)"></td>
                <td><input class="form-control input-sm" ng-model="cc.description" type="text" placeholder= "description"></td> 
                <td colspan=2><input class="form-control input-sm" ng-model="cc.amount" type="text" ng-click="onTextClick($event)" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength="7" min="0"></td>                             
              </tr>
            </tbody>
            <thead>
              <tr class="success">
                <th colspan=2>Total</th>
                <th colspan=2 class="text-right">({{getChqCount(id)}})</th>
                <th colspan=2 class="text-right">{{getChqTotal(id) | currency}}</th>
              </tr>
            </thead>            
          </table>          

          <table class="table table-striped table-responsive table-condensed" style="height: 100px;overflow: auto;">
            <thead>
              <tr class="info">
                <td class="label-warning text-right"><button type="button" title="Add.." ng-click="addCC(id);" class="btn btn-xs btn-link">
                  <i class="glyphicon glyphicon-plus"></i></button>
                </td>                
                <th>Name</th>
                <th nowrap>CC #</th>
                <th nowrap>Desc</th>
                <th>Amount&nbsp;</th>
                <td class="label-warning text-right">
                  <a title="Quick Entry" ng-click="toggleCC(id);" class="noPrint">
                  <i ng-class="(head.cc_display?'glyphicon glyphicon-th-list':'glyphicon glyphicon-th')"></i></a>               
                </td> 
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cc in head.cc">
                <td><button type="button" title="Remove..{{ $index }}" ng-click="deleteRecord(cc, $index);" class="btn btn-xs btn-link">
                  <i class="glyphicon glyphicon-trash"></i></button></td>  
                <td><input class="form-control input-sm" ng-model="cc.name" type="text"></td>
                <td><input class="form-control input-sm" ng-model="cc.cc_no" type="text" ng-click="onTextClick($event)"></td>
                <td><input class="form-control input-sm" ng-model="cc.description" type="text" placeholder= "description"></td> 
                <td colspan=2><input class="form-control input-sm" ng-model="cc.amount" type="text" ng-click="onTextClick($event)" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength="7" min="0"></td>                             
              </tr>
            </tbody>
            <thead>
              <tr class="success">
                <th colspan=2>Total</th>
                <th colspan=2 class="text-right">({{getCCCount(id)}})</th>
                <th colspan=2 class="text-right">{{getCCTotal(id) | currency}}</th>
              </tr>
            </thead>            
          </table>                 
        
        </form>          
      </div>
      <div class="panel-footer">
        <div class="label-warning text-right"><h2>Net: {{getTotal(id, false) | currency}}</h2></div>
      </div>
    </div>    
  </div>    
  <div ng-show="_id>0" class="panel panel-primary col-md-3">
     <div class="panel-heading"><h2>Totals</h2></div>
     <div class="panel-body">
       <table class="table table-striped">
         <thead>
              <tr class="info">
                <th>Cash Total</th>
                <th nowrap class="text-right">{{getGrandTotal(true, 3) | currency}}</th>
              </tr>
              <tr class="info">
                <th>Cheques Total</th>
                <th nowrap class="text-right">{{getGrandChqTotal(3) | currency}}</th>
              </tr>
              <tr>
                <th>Cheques Count</th>
                <th nowrap class="text-right">{{getGrandChqCount(3)}}</th>
              </tr>              
              <tr class="info">
                <th>Credit Card Total</th>
                <th nowrap class="text-right">{{getGrandCCTotal(3) | currency}}</th>
              </tr>
              <tr>
                <th>Credit card Count</th>
                <th nowrap class="text-right">{{getGrandCCCount(3)}}</th>
              </tr>                                          
         </thead>
       </table>
     </div>
      <div class="panel-footer">
        <div class="label-warning text-right"><h2>Grand Total: {{ getGrandTotal(false, 3) | currency}}</h2></div>
      </div>     
 </div>  

  <div ng-show="_id>0" class="panel panel-primary col-md-3">
     <div class="panel-heading"><h2>Totals <small style="color:white">(Exclude {{getHeadName(2)}})</small></h2></div>
     <div class="panel-body">
       <table class="table table-striped">
         <thead>
              <tr class="info">
                <th>Cash Total</th>
                <th nowrap class="text-right">{{getGrandTotal(true, 1) | currency}}</th>
              </tr>
              <tr class="info">
                <th>Cheques Total</th>
                <th nowrap class="text-right">{{getGrandChqTotal(1) | currency}}</th>
              </tr>
              <tr>
                <th>Cheques Count</th>
                <th nowrap class="text-right">{{getGrandChqCount(1)}}</th>
              </tr>              
              <tr class="info">
                <th>Credit Card Total</th>
                <th nowrap class="text-right">{{getGrandCCTotal(1) | currency}}</th>
              </tr>
              <tr>
                <th>Credit card Count</th>
                <th nowrap class="text-right">{{getGrandCCCount(1)}}</th>
              </tr>                                          
         </thead>
       </table>
     </div>
      <div class="panel-footer">
        <div class="label-warning text-right"><h2>Grand Total: {{ getGrandTotal(false, 1) | currency}}</h2></div>
      </div>     
 </div>  
 
</div>
<!--
</div> <!-- view -->
