﻿<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
</style>
<div class="view">
    <div class="container">
        <div class="row">
		<!--
        <nav ng-show="_id>0" class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
        <a class= "navbar-brand" href= "#/heads"><i class="glyphicon glyphicon-th-large"></i> Fund List </a>
        <a ng-show="_id" class= "navbar-brand" href= "#/edit-head/0"><i class="glyphicon glyphicon-plus"></i> Create Fund </a>
        <a ng-show="_id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Fund Id: {{head._id}}</a>
        </div>
        </nav>-->
        <header>
            <h3>{{ title }}</h3>
        </header>
        <div class="col-md-12">

<form role="form" name="myForm" class="form-horizontal">
<div class="row">
<div class= "form-group" ng-class="{error: myForm.name.$invalid}">
    <label class= "col-md-2">Name </label>
    <div class="col-md-4">
    <input name="name" ng-model="head.name" type= "text" class= "form-control" placeholder="Fund name" required/>
    <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Name Required</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Description </label>
    <div class="col-md-4">
    <input ng-model="head.description" type = "text" class= "form-control" placeholder= "Head description"/>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Order </label>
    <div class="col-md-4">
    <input ng-model="head.sequence" type = "text" class= "form-control" placeholder= "Head Order"/>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="#/heads" class="btn">Cancel</a>
        <button ng-click="saveHead(head);" 
                ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">{{buttonText}}</button>
        <button ng-click="deleteHead(head)"
                ng-show="head.id" class="btn btn-warning">Delete</button>
    </div>
</div>
</div>
</form>
        </div></div>
    </div>
</div>
