﻿<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }
</style>
<div class="view">

    <header ng-show="error.indexOf('Updated')==-1">
        <h3>Forgot Password</h3>
    </header>
    <div class="col-md-12">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div ng-show="error.indexOf('Sent')!=-1">
            <a href="#/">
                <input class="btn btn-primary" type="button" value="Continue" />
            </a>
        </div>
        <form ng-hide="error.indexOf('Sent')!=-1" role="form" name="myForm" class="form-horizontal" ng-submit="forgotPassword();">
            <div class="row">

                <div class= "form-group">
                    <label class= "col-md-2">Email address </label>
                    <div class="col-md-4">
                        <input name="email" ng-model="email" type= "email" class= "form-control" placeholder="Enter email" required/>
                        <!--<span ng-show="myForm.email.$dirty && myForm.email.$invalid && !myForm.email.$error.email" class="help-inline">Email Required</span>-->
                        <span ng-show="myForm.email.$error.email" class="help-inline">Email is not valid</span>
                    </div>
                </div>

                <div class= "form-group">
                    <label class= "col-md-2"></label>
                    <div class="col-md-4">
                        <a href="#/" class="btn">Cancel</a>
                        <button type="submit"
                                ng-disabled="myForm.$invalid || dataLoading"
                                class="btn btn-primary">Reset Username or Password</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
