 <div class="row">

    <div class="col-md-12">
        <nav class= "navbar navbar-default" role="navigation" >
        <div class="navbar-header" >
        <a class="btn btn-md btn-success" href="#/edit-head/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Fund</a>
        </div>
        </nav>
        <table class="table table-striped table-bordered" ng-show="heads.length > 0">
        <thead>
        <th>Fund Name&nbsp;</th>
        <th>Description&nbsp;</th>
        <th>Order&nbsp;</th>
        <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in heads" ng-class="(data.status==0?'danger':'')">
                <td>{{data.name}}</td>
                <td>{{data.description}}</td>
                <td>{{data.sequence}}</td>
                <td><a href="#/edit-head/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Fund</a>
                <a ng-show="data.status == 1" href="#/disable-head/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-minus-sign"></i>&nbsp; Disable</a>
                <a ng-show="data.status == 0" href="#/enable-head/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-plus-sign"></i>&nbsp; Enable</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="heads.length == 0">
        <div class="col-md-12">
            <h4>No Funds found</h4>
        </div>
    </div>
</div>