﻿<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }
</style>
<div class="view">

    <header ng-show="error.indexOf('Updated')==-1">
        <h3>{{title}}</h3>
    </header>
    <div class="col-md-12">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div ng-hide="show_form">
            <a href="#login">
                <input class="btn btn-primary" type="button" value="Continue" />
            </a>
        </div>
        <form ng-show="show_form" role="form" name="myForm" class="form-horizontal" ng-submit="changePassword();">
            <div class="row">

                <div class="form-group">
                    <label class="col-md-2" for="username">Username</label>
                    <div class="col-md-4">
                        <input type="text" disabled name="username" id="username" class="form-control"
                               ng-minlength="6"  ng-maxlength="25" ng-model="user.user" placeholder= "6-25 chars" required />
                    </div>
                </div>
                <div class= "form-group">
                    <label class= "col-md-2">Email address </label>
                    <div class="col-md-4">
                        <input name="email" disabled ng-model="user.email" type= "email" class= "form-control" placeholder="Enter email" required/>
                        <!--<span ng-show="myForm.email.$dirty && myForm.email.$invalid && !myForm.email.$error.email" class="help-inline">Email Required</span>-->
                        <span ng-show="myForm.email.$error.email" class="help-inline">Email is not valid</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2" for="password">New Password</label>
                    <div class="col-md-4">
                        <input type="password" name="password" id="password" class="form-control"
                               ng-minlength="6"  ng-maxlength="20" maxlength=20 ng-model="password" placeholder= "6-20 chars" required />
                    </div>
                    <!--<div class="help-inline col-md-4">Password is required (6-20 chars)</div>-->
                </div>
                <div class="form-group">
                    <label class="col-md-2" for="new_password">Confirm Password</label>
                    <div class="col-md-4">
                        <input type="password" name="new_password" id="new_password" class="form-control"
                               ng-minlength="6"  ng-maxlength="20" maxlength=20 ng-model="new_password" placeholder= "6-20 chars" required
                               compare-to="password"/>
                    </div>
                    <div ng-show="myForm.new_password.$dirty && myForm.new_password.$error.compareTo" style="color: #ff2832">
                        Passwords are not same!</div>
                </div>

                <div class= "form-group">
                    <label class= "col-md-2"></label>
                    <div class="col-md-4">
                        <a href="#/" class="btn">Cancel</a>
                        <button type="submit"
                                ng-disabled="myForm.$invalid || dataLoading"
                                class="btn btn-primary">Update</button>
                        <!--<button ng-click="deleteCustomer(customer)"
                                ng-show="customer._id" class="btn btn-warning">Delete</button>-->
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
