<head>
  <!-- Plotly.js -->
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
</head>

<body>
  <div id="myDiv" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
        var trace1 = {
          x: [1, 2, 3, 4],
          y: [10, 15, 13, 17],
          mode: 'markers'
        };

        var trace2 = {
          x: [2, 3, 4, 5],
          y: [16, 5, 11, 10],
          mode: 'lines'
        };

        var trace3 = {
          x: [1, 2, 3, 4],
          y: [12, 9, 15, 12],
          mode: 'lines+markers'
        };

        var data = [ trace1, trace2, trace3 ];

        var layout = {
          title:'Line and Scatter Plot',
          height: 400,
          width: 480
        };

        Plotly.newPlot('myDiv', data, layout);
  </script>

  <div id="myDiv2" style="width: 480px; height: 380px;"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
    var data = [{
      values: [19, 26, 55],
      labels: ['Residential', 'Non-Residential', 'Utility'],
      type: 'pie'
    }];

    var layout = {
      title:'Payment',
      height: 380,
      width: 480
    };

    Plotly.newPlot('myDiv2', data, layout);
  </script>
</body>