﻿<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }
    .form-inline input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-inline input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }

    .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td
    {
        padding: 1px;
    }

    .panel, .panel-footer, .panel-body, .table, .panel-heading, .col-xs-3
    {
        padding: 2px; margin-top: 2px; margin-bottom: 2px; vertical-align: top
    }

    .col-xs-3
    {
        float:left;
        vertical-align: top
    }

</style>

<style media="screen">
    .noPrint{ display: block; }
    .yesPrint{ display: block !important; }
    .view { font-size: 14px }
    .panel-body {
        min-height:220px !important;
        overflow: visible;
    }
    @media only screen and (max-width: 768px) {

        .view { font-size: 7px }
        h2 {font-size: 12px }
        h3 {font-size: 10px }
        .panel-body {
            min-height:150px !important;
            overflow: visible;
        }
    }
</style>
<style media="print">
    body {-webkit-print-color-adjust: exact;}
    .noPrint{ display: none; }
    .yesPrint{ display: block !important; }
    .view { font-size: 9px }
    h2,h4 {font-size: 12px }
    h3 {font-size: 10px }
    .panel-body {
        min-height:120px !important;
        overflow: visible;
    }
    .panel-heading {
        -webkit-print-color-adjust: exact;
        background-color: #dff0d8 !important;
        color: white !important;
    }
    .label-warning {
        -webkit-print-color-adjust: exact;
        background-color: #f0ad4e !important;
        color: white !important;
    }
    .info {
        -webkit-print-color-adjust: exact;
        background-color: #d9edf7 !important;
    }
    .success {
        -webkit-print-color-adjust: exact;
        background-color: #dff0d8 !important;
    }
    a[href]:after {
        content: none !important;
    }

</style>

<div class="view">

    <table class="table">
        <thead>
        <tr>
            <th nowrap><h2>{{user.name}}</h2>{{user.address}}<br>{{user.email}}<br>
                <a href="{{user.web}}" target="_blank">{{user.web}}</a></th>
            <th nowrap ng-if="user.logo.length>1"><a href="{{user.web}}" target="_blank"><img ng-src="logo/{{user.logo}}" height="90" width="250" /></a></th>
            <th nowrap ng-if="user.logo.length<2"><a href="{{user.web}}" target="_blank"><h1>{{user.name}}</h1></a></th>
            <th nowrap>{{user.contact_person}}<br>{{user.contact_person2}}<br>{{user.phone}}</th>
        </tr>
        </thead>
    </table>
    <div class="noPrint text-right"><button onclick="window.print();" class="btn btn-primary">
        <span class="glyphicon glyphicon-print"></span> Print</button>
    </div>
    <!--
        <div class="col-xs-12 label label-primary" style="height: 30px;">
              <span style="color: white;vertical-align: top">{{sheet.name}}</span>
              <h4 class="text-right">{{parseDate(sheet.datetime) | date:'medium'}}</h4>
        </div>
     -->
    <table class="table">
        <tr class="info" style="width: 100%; height: 20px;">
            <th style="padding: 2px;"><h4>{{sheet.name}}</h4></th>
            <th style="padding: 2px;" nowrap class="text-right"><h4>{{parseDate(sheet.datetime) | date:'medium'}}</h4></th>
        </tr>
    </table>

    <!--
    <div class="col-md-12">-->


    <!--<table class="table"><tr>
    <td style="width: 20%" ng-repeat="head in sheet.heads" ng-init="id = head.id"> -->
    <div ng-repeat="head in sheet.heads" ng-init="id = $index">
    <div ng-show="getTotal(id, false)>0" ng-class="ifChqorCCDesc()" >
        <div class="panel-heading"><h2>{{head.name}}</h2></div>
        <div class="panel-body">
            <table ng-show="getTotal(id, true)>0" class="table table-striped table-responsive table-condensed">
                <thead>
                <tr class="info">
                    <th>Bill</th>
                    <th nowrap class="text-right">No. of bills</th>
                    <th class="text-right">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td class="text-right">{{head.cash.bill_1}}</td>
                    <td class="text-right">{{showAmount(1 * head.cash.bill_1) | currency}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="text-right">{{head.cash.bill_2}}</td>
                    <td class="text-right">{{showAmount(2 * head.cash.bill_2) | currency}}</td>
                </tr>                
                <tr>
                    <td>5</td>
                    <td class="text-right">{{head.cash.bill_5}}</td>
                    <td class="text-right">{{showAmount(5 * head.cash.bill_5) | currency}}</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td class="text-right">{{head.cash.bill_10}}</td>
                    <td class="text-right">{{showAmount(10 * head.cash.bill_10) | currency}}</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td class="text-right">{{head.cash.bill_20}}</td>
                    <td class="text-right">{{showAmount(20 * head.cash.bill_20) | currency}}</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td class="text-right">{{head.cash.bill_50}}</td>
                    <td class="text-right">{{showAmount(50 * head.cash.bill_50) | currency}}</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td class="text-right">{{head.cash.bill_100}}</td>
                    <td class="text-right">{{showAmount(100 * head.cash.bill_100) | currency}}</td>
                </tr>
                <tr ng-show="head.cash.other_amount > 0">
                    <td colspan=2>Other Cash</td>
                    <td class="text-right">{{showAmount(head.cash.other_amount) | currency}}</td>
                </tr>
                </tbody>
                <thead>
                <tr class="success">
                    <th>Total</th>
                    <th class="text-right">{{1 * (head.cash.bill_100||0) + 1 * (head.cash.bill_50||0) + 1 * (head.cash.bill_20||0) + 1 * (head.cash.bill_10||0) + 1 * (head.cash.bill_5||0) + 1*(head.cash.bill_2||0) + 1*(head.cash.bill_1||0)}}</th>
                    <th class="text-right">{{100 * (head.cash.bill_100||0) + 50 * (head.cash.bill_50||0) + 20 * (head.cash.bill_20||0) + 10 * (head.cash.bill_10||0) + 5 * (head.cash.bill_5||0) + 2 * (head.cash.bill_2||0) + 1 * (head.cash.bill_1||0) + 1 * (head.cash.other_amount||0)| currency}}</th>
                </tr>
                </thead>
            </table>

            <table ng-show="getChqTotal(id)>0" class="table table-striped table-responsive table-condensed">
                <thead>
                <tr class="info" ng-show="head.chq_display">
                    <th colspan=2>Name</th>
                    <th nowrap>Cheque #</th>
                    <th>Desc.</th>
                    <th class="text-right">Amount</th>
                </tr>
                </thead>
                <tbody ng-show="head.chq_display">
                <tr ng-repeat="cc in head.chq" ng-show="cc.amount>0">
                    <td colspan=2>{{cc.name}}</td>
                    <td>{{cc.check_no}}</td>
                    <td>{{cc.description}}</td>
                    <td class="text-right">{{cc.amount | currency}}</td>
                </tr>
                </tbody>
                <thead>
                <tr class="success">
                    <th colspan=2>Total Cheques</th>
                    <td><a title="Show details?" ng-click="toggleChq(id);" class="noPrint">
                        <i ng-class="(head.chq_display?'glyphicon glyphicon-chevron-up':'glyphicon glyphicon-chevron-down')"></i></a>
                    </td>
                    <th>({{getChqCount(id)}})</th>
                    <th class="text-right">{{getChqTotal(id) | currency}}</th>
                </tr>
                </thead>
            </table>
            <table ng-show="getCCTotal(id)>0" class="table table-striped table-responsive table-condensed">
                <thead>
                <tr class="info" ng-show="head.cc_display">
                    <th colspan=2>Name</th>
                    <th nowrap>CC #</th>
                    <th>Desc.</th>
                    <th class="text-right">Amount
                    </th>
                </tr>
                </thead>
                <tbody ng-show="head.cc_display">
                <tr ng-repeat="cc in head.cc" ng-show="cc.amount>0">
                    <td colspan=2>{{cc.name}}</td>
                    <td>{{cc.cc_no}}</td>
                    <td>{{cc.description}}</td>
                    <td class="text-right">{{cc.amount | currency}}</td>
                </tr>
                </tbody>
                <thead>
                <tr class="success">
                    <th colspan=2 nowrap>Total Credit Cards</th>
                    <td><button type="button" title="Show details?" ng-click="toggleCC(id);"
                                class="noPrint btn btn-xs btn-link">
                        <i ng-class="(head.cc_display?'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down')"></i></button>
                    </td>
                    <th>({{getCCCount(id)}})</th>
                    <th class="text-right">{{getCCTotal(id) | currency}}</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="panel-footer">
            <div class="label-warning text-right"><h2>Net: {{getTotal(id, false, true) | currency}}</h2></div>
        </div>
    </div>
    </div>
    <!--</td>
    </tr><tr>
    <td> -->
    <div class="col-xs-3">
        <div class="panel panel-primary">
            <div class="panel-heading"><h2>Totals <small style="color:white">(Exclude {{getHeadName(2)}})</small></h2></div>
            <!--<div class="panel-body">-->
            <table class="table table-striped table-responsive table-condensed">
                <thead>
                <tr class="info">
                    <th>Cash Total</th>
                    <th nowrap class="text-right">{{getGrandTotal(true, 1) | currency}}</th>
                </tr>
                <tr class="info">
                    <th>Cheques Total</th>
                    <th nowrap class="text-right">{{getGrandChqTotal(1) | currency}}</th>
                </tr>
                <tr>
                    <th>Cheques Count</th>
                    <th nowrap class="text-right">{{getGrandChqCount(1)}}</th>
                </tr>
                <tr ng-show="getGrandCCCount(1)>0" class="info">
                    <th>Credit Card Total</th>
                    <th nowrap class="text-right">{{getGrandCCTotal(1) | currency}}</th>
                </tr>
                <tr ng-show="getGrandCCCount(1)>0">
                    <th>Credit card Count</th>
                    <th nowrap class="text-right">{{getGrandCCCount(1)}}</th>
                </tr>
<!--                 <tr>
                    <th colspan="2" class="text-right"><br>{{user.contact_person}}   ________________<br></th>
                </tr>
                <tr>
                    <th colspan="2" class="text-right"><br>{{user.contact_person2}}  ________________<br></th>
                </tr>   -->              
                </thead>
            </table>
            <!--</div>-->
            <div class="panel-footer">
                <div class="label-warning text-right"><h2>Grand Total: {{ getGrandTotal(false, 1) | currency}}</h2></div>
            </div>
        </div>
    </div>

	 <div class="col-xs-3">
            <table class="table table-striped table-responsive table-condensed">
                <thead>
                <tr>
                    <th colspan="2" class="text-right"><br>{{user.contact_person}}   ________________<br></th>
                </tr>
                <tr>
                    <th colspan="2" class="text-right"><br>{{user.contact_person2}}  ________________<br></th>
                </tr>                
                </thead>
            </table>
    </div>

    <div class="col-md-12">
        <div class="col-xs-12 label label-primary noPrint">
            <span class="navbar-brand">Income by Funds - Pie Chart</span>
            <h2 class="text-right noPrint"><span title="Show Pie Chart?" ng-class="(pie_display?'glyphicon glyphicon-chevron-up':'glyphicon glyphicon-chevron-down')"
                                                 ng-click="toggle_pie();"></span></h2>
        </div>

        <div class="col-xs-3"></div>
        <div ng-show="pie_display" class="col-xs-6 well" id="print_piechart" style="height: 500px; width: 800px">  </div>
        <div class="col-xs-3"></div>
    </div>
</div>
<!--
</div> <!-- view -->
