﻿<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }
    .form-inline input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-inline input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }

    .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td
    {
        padding: 1px;
        border: 1px solid #000
    }

    .panel, .panel-footer, .panel-body, .table, .panel-heading, .col-xs-3
    {
        padding: 2px; margin-top: 2px; margin-bottom: 2px;
    }

    .col-xs-3
    {
        float:left;
        vertical-align: top
    }

</style>

<style media="screen">
    .noPrint{ display: block; }
    .yesPrint{ display: block !important; }
    .view { font-size: 14px }
    .panel-body {
        min-height:225px !important;
        overflow: visible;
    }
    @media only screen and (max-width: 768px) {

        .view { font-size: 7px }
        h2 {font-size: 12px }
        h3 {font-size: 10px }
        .panel-body {
            min-height:150px !important;
            overflow: visible;
        }
    }
</style>
<style media="print">
    body {-webkit-print-color-adjust: exact;}
    .noPrint{ display: none; }
    .yesPrint{ display: block !important; }
    .view { font-size: 9px }
    h2,h4 {font-size: 12px }
    h3 {font-size: 10px }
    .panel-body {
        min-height:120px !important;
        overflow: visible;
    }
    .panel-heading {
        -webkit-print-color-adjust: exact;
        background-color: #dff0d8 !important;
        color: white !important;
    }
    .label-warning {
        -webkit-print-color-adjust: exact;
        background-color: #f0ad4e !important;
        color: white !important;
    }
    .info {
        -webkit-print-color-adjust: exact;
        background-color: #d9edf7 !important;
    }
    .success {
        -webkit-print-color-adjust: exact;
        background-color: #dff0d8 !important;
    }
    a[href]:after {
        content: none !important;
    }

</style>

<div class="view">

    <table class="table">
        <thead>
        <tr>
            <th nowrap><h2>{{user.name}}</h2>{{user.address}}<br>{{user.email}}<br>
                <a href="{{user.web}}" target="_blank">{{user.web}}</a></th>
            <th nowrap ng-if="user.logo.length>1"><a href="{{user.web}}" target="_blank"><img ng-src="logo/{{user.logo}}" height="90" width="250" /></a></th>
            <th nowrap ng-if="user.logo.length<2"><a href="{{user.web}}" target="_blank"><h1>{{user.name}}</h1></a></th>
            <th nowrap>{{user.contact_person}}<br>{{user.contact_person2}}<br>{{user.phone}}</th>
        </tr>
        </thead>
    </table>

    <div class="noPrint text-right"><button onclick="window.print();" class="btn btn-primary">
        <span class="glyphicon glyphicon-print"></span> Print</button>
    </div>
    <!--
        <div class="col-xs-12 label label-primary" style="height: 30px;">
              <span style="color: white;vertical-align: top">{{sheet.name}}</span>
              <h4 class="text-right">{{parseDate(sheet.datetime) | date:'medium'}}</h4>
        </div>
     -->
    <table style="border: 1px solid #000" class="table">
        <tr class="info" style="width: 100%; height: 30px;">
            <th><h4>{{sheet.name}}</h4></th>
            <th colspan=2 class="text-right"><h4>Deposit Report</h4></th>
            <th nowrap class="text-right"><h4>{{parseDate(sheet.datetime) | date:'medium'}}</h4></th>
        </tr>
    </table>

    <table style="border: 1px solid #000" class="table table-striped table-responsive table-condensed">
                <thead>
                <tr class="info">
                    <th class="text-center">Fund</th>
                    <th class="text-center">Cash</th>
                    <th class="text-center">Cheques</th>
                    <th class="text-center">Net</th>
                    <th class="text-center">Credit card</th>
                    <th class="text-center">Cash</th>
                    <th class="text-center">Cheques</th>
                    <th class="text-center">Net</th>
                    <th class="text-center">Credit card</th>                    
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="head in sheet.heads" ng-init="id = $index">
                    <td class="text-center">{{head.name}}</td>
                    <td class="text-right" ng-show="head.type==0">{{showAmount(getTotal(id, true)) | currency}}</td>
                    <td class="text-right" ng-show="head.type==0">{{showAmount(getChqTotal(id)) | currency}}</td>
                    <td class="text-right" ng-show="head.type==0">{{showAmount(getTotal(id, true) + getChqTotal(id)) | currency}}</td>
                    <td class="text-right" ng-show="head.type==0">{{showAmount(getCCTotal(id)) | currency}}</td>
                    <td ng-show="head.type==0"></td><td ng-show="head.type==0"></td><td ng-show="head.type==0"></td><td ng-show="head.type==0"></td>
                    <td ng-show="head.type==1"></td><td ng-show="head.type==1"></td><td ng-show="head.type==1"></td><td ng-show="head.type==1"></td>
                    <td class="text-right" ng-show="head.type==1">{{showAmount(getTotal(id, true)) | currency}}</td>
                    <td class="text-right" ng-show="head.type==1">{{showAmount(getChqTotal(id)) | currency}}</td>
                    <td class="text-right" ng-show="head.type==1">{{showAmount(getTotal(id, true) + getChqTotal(id)) | currency}}</td>                    
                    <td class="text-right" ng-show="head.type==1">{{showAmount(getCCTotal(id)) | currency}}</td>                    
                </tr>
                </tbody>
                <thead>
                <tr class="success">
                    <th>Total</th>
                    <th class="text-right">{{getGrandTotal(true, 1) | currency}}</th>
                    <th class="text-right">{{getGrandChqTotal(1) | currency}}</th>
                    <th class="text-right">{{getGrandTotal(true, 1) + getGrandChqTotal(1) | currency}}</th>
                    <th class="text-right">{{getGrandCCTotal(1) | currency}}</th>
                    <th class="text-right">{{getGrandTotal(true, 2) | currency}}</th>
                    <th class="text-right">{{getGrandChqTotal(2) | currency}}</th>
                    <th class="text-right">{{getGrandTotal(true, 2) + getGrandChqTotal(2) | currency}}</th>
                    <th class="text-right">{{getGrandCCTotal(2) | currency}}</th>                    
                </tr>
                <tr class="danger">
                    <th><h4>Total Deposit</h4></th>
                    <th colspan=3 class="text-center"><h4>{{getGrandTotal(true, 1) + getGrandChqTotal(1) | currency}}</h4></th>
                    <th></th>
                    <th colspan=3 class="text-center"><h4>{{getGrandTotal(true, 2) + getGrandChqTotal(2) | currency}}</h4></th>
                    <th></th>
                </tr>
                <tr class="info">
                    <th>Grand Total</th>
                    <th colspan=7></th>
                    <th class="text-right">{{getGrandTotal(false, 3) | currency}}</th>
                </tr>                                 
                </thead>
            </table>
            <br>
<!--             <table >
                <tr>
                    <th class="text-right">{{user.contact_person}}  ____________________  Date: _______________________<br><br></th>
                </tr>
                <tr>
                    <th class="text-right">{{user.contact_person2}} ____________________  Date: _______________________</th>
                </tr>                
            </table> -->

</div>
