 <div class="row">
    <div class="col-md-12">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
           <ul class="pagination">
            <li><a class="btn btn-md btn-success" href="#/edit-sheet/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Sheet</a></li>
                    
           </ul>    
    </div>
    </nav>
        <table class="table table-striped table-bordered tabel-hover" ng-show="sheets.length > 0">
        <thead class="info">
        <th colspan="2">Sheet Name&nbsp;</th>
        <!--<th>Description&nbsp;</th>-->
        <th>Date&nbsp;</th>
<!--         <th>Cash&nbsp;</th>
        <th>Cheques&nbsp;</th>
        <th>Credit Cards&nbsp;</th>
        <th>Total&nbsp;</th> -->
        <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in sheets" ng-class="(data.status==0?'danger': (data.status==2?'success':''))">
                <td style="border-right: 0px;">{{data.name}}<span ng-show="data.description.length>0"><br>{{data.description}}</span></td>
                <td style="border-left: 0px;"><i ng-class="(data.status==0?'glyphicon glyphicon-ban-circle': (data.status==2?'glyphicon glyphicon-lock':''))"></i></td>                
                <td>{{parseDate(data.datetime) | date:'medium'}} <span ng-show="data.receipt"> (R)</span></td>
<!--                 <td>{{data.cash | currency}} ({{data.ncash}})</td>
                <td>{{data.chq | currency}} ({{data.nchq}})</td>
                <td>{{data.cc | currency}} ({{data.ncc}})</td>
                <td>{{data.cc + data.chq + data.cash | currency}}</td>  -->               
                
                <td>
                    <a ng-disabled="data.status == 0" href="#/print-sheet/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-print"></i>&nbsp; Print</a>
                    <a ng-disabled="data.status == 0" href="#/print-sheet-summary/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-th-list"></i>&nbsp; Summary</a>
                    <a ng-disabled="data.status == 0 || data.status == 2" href="#/edit-sheet/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit</a>
                    <a ng-show="data.status == 1" href="#/control-sheet/{{data.id}}/0" class="btn">&nbsp;<i class="glyphicon glyphicon-minus-sign"></i>&nbsp; Disable</a>
                    <a ng-show="data.status == 0" href="#/control-sheet/{{data.id}}/1" class="btn">&nbsp;<i class="glyphicon glyphicon-plus-sign"></i>&nbsp; Enable</a>
                    <a ng-show="data.status == 1" href="#/control-sheet/{{data.id}}/2" class="btn">&nbsp;<i class="glyphicon glyphicon-lock"></i>&nbsp; Lock</a>
                    <a ng-show="data.status == 2" href="#/control-sheet/{{data.id}}/1" class="btn">&nbsp;<i class="glyphicon glyphicon-open"></i>&nbsp; UnLock</a>
                <!--<a ng-show="logged_status == 0" href="#/del-sheet/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-remove"></i>&nbsp; Delete</a>-->
                </td>
            </tr>
        </tbody>
<!--         <thead class="warning">
        <th colspan="2">&nbsp;</th>
        <th>Total</th>
        <th>{{ getTotal("cash") | currency}}</th>
        <th>{{ getTotal('chq') | currency}}</th>
        <th>{{ getTotal('cc') | currency}}</th>
        <th>{{ getTotal('cc') + getTotal('chq') + getTotal('cash') | currency}}</th>
        <th>&nbsp;</th>
        </thead>   -->     
        </table>
    </div>
<!--     <div class="col-md-12" ng-show="sheets.length > 0">
        <div class="col-xs-12 label label-primary noPrint">
          <span class="navbar-brand">Income by Sheets - Pie Chart</span>
          <h2 class="text-right noPrint"><span title="Show Pie Chart?" ng-class="(pie_display?'glyphicon glyphicon-chevron-up':'glyphicon glyphicon-chevron-down')"
                    ng-click="toggle_pie();"></span></h2>
        </div>

        <div class="col-xs-3"></div>
        <div ng-show="pie_display" class="col-xs-6 well" id="sheet_piechart" style="height: 500px; width: 800px">  </div>
        <div class="col-xs-3"></div>
    </div> -->
    <div class="col-md-12" ng-show="sheets.length == 0">
        <div class="col-md-12">
            <h4>No sheets found</h4>
        </div>
    </div>
</div>