<style media="print">
  body {-webkit-print-color-adjust: exact;}
  .noPrint{ display: none; }
  .yesPrint{ display: block !important; }
  .view { font-size: 11px }

  .panel-body {
    min-height:140px !important;
    overflow: visible;
  }
  .panel-heading {
    -webkit-print-color-adjust: exact;
     background-color: #dff0d8 !important;
     text-color: white !important;
  }
  .label-warning {
    -webkit-print-color-adjust: exact;
     background-color: #f0ad4e !important;
     text-color: white !important;
  }
  .info {
    -webkit-print-color-adjust: exact;
    background-color: #d9edf7 !important;
  }
  .success {
    -webkit-print-color-adjust: exact;
    background-color: #dff0d8 !important;
  }
  a[href]:after {
    content: none !important;
  }

</style>

<div class="row" style="width: 100%;height: 100%">
    <div class="col-xs-12" ng-show="funds.length > 0">
        <div class="col-xs-12 label label-primary">
           <div class="col-xs-2 left-button"><button onclick="window.print();" class="btn btn-default noPrint">
               <span class="glyphicon glyphicon-print"></span> Print</button></div>
            <div class="col-xs-8 text-center"><h4>Income by Funds</h4></div>
            <div class="col-xs-2 right-button">
              <span title="Show Table?" ng-click="toggle_table();" class="noPrint">
              <h4 ng-class="(table_display?'glyphicon glyphicon-chevron-up':'glyphicon glyphicon-chevron-down')"></h4></span>
           </div>
        </div>
        <table class="table table-striped table-bordered" ng-show="funds.length > 0 && table_display">
        <thead class="info">
        <th>Fund Name&nbsp;</th>
        <!--<th>Description&nbsp;</th>-->
        <th>Cash&nbsp;</th>
        <th>Cheques&nbsp;</th>
        <th>Credit Cards&nbsp;</th>
        <th>Total&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in funds" ng-class="(data.status==0?'danger': (data.status==2?'success':''))">
                <td style="border-right: 0px;">{{data.name}}<span ng-show="data.description.length>0"><br>{{data.description}}</span></td>
                <td>{{data.cash | currency}} ({{data.ncash}})</td>
                <td>{{data.chq | currency}} ({{data.nchq}})</td>
                <td>{{data.cc | currency}} ({{data.ncc}})</td>
                <td>{{data.cc + data.chq + data.cash | currency}}</td>
                <!--
                <td><a ng-disabled="data.status == 0" href="#/print-sheet/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-print"></i>&nbsp; Print</a>
                <a ng-disabled="data.status == 0 || data.status == 2" href="#/edit-sheet/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit</a>
                <a ng-show="data.status == 1" href="#/control-sheet/{{data.id}}/0" class="btn">&nbsp;<i class="glyphicon glyphicon-minus-sign"></i>&nbsp; Disable</a>
                <a ng-show="data.status == 0" href="#/control-sheet/{{data.id}}/1" class="btn">&nbsp;<i class="glyphicon glyphicon-plus-sign"></i>&nbsp; Enable</a>
                <a ng-show="data.status == 1" href="#/control-sheet/{{data.id}}/2" class="btn">&nbsp;<i class="glyphicon glyphicon-lock"></i>&nbsp; Lock</a>
                <a ng-show="data.status == 2" href="#/control-sheet/{{data.id}}/1" class="btn">&nbsp;<i class="glyphicon glyphicon-open"></i>&nbsp; UnLock</a>
                </td> -->
            </tr>
        </tbody>
        <thead class="warning">
        <th>Total</th>
        <th>{{ getTotal("cash") | currency}}</th>
        <th>{{ getTotal('chq') | currency}}</th>
        <th>{{ getTotal('cc') | currency}}</th>
        <th>{{ getTotal('cc') + getTotal('chq') + getTotal('cash') | currency}}</th>
        </thead>
        </table>
    </div>

    <div style="width: 100%;height: 100%" class="col-xs-12" ng-show="funds.length > 0">

        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <span class="navbar-brand">Income by Funds - Pie Chart</span>
            </div>
            <ul style="color: white; vertical-align: middle" class="nav navbar-nav navbar-right">
              <li><h2  title="Show Pie Chart?" ng-click="toggle_pie2();" class="noPrint">
                  <span ng-class="(pie_display2?'glyphicon glyphicon-chevron-up':'glyphicon glyphicon-chevron-down')"></span>
              </h2></li>
            </ul>
          </div>
        </nav>
        <div ng-show="pie_display2" class="col-sm-12 center" id="Pie">  </div>

        <div class="col-xs-12 label label-primary noPrint">
          <span class="navbar-brand">Income by Funds - Pie Chart</span>
          <h2 class="text-right noPrint"><span title="Show Pie Chart?" ng-class="(pie_display?'glyphicon glyphicon-chevron-up':'glyphicon glyphicon-chevron-down')"
                    ng-click="toggle_pie();"></span></h2>
        </div>

        <div class="col-xs-3"></div>
        <div ng-show="pie_display" class="col-xs-6 well" id="piechart" style="height: 500px; width: 800px">  </div>
        <div class="col-xs-3"></div>
         <!--<div class="col-xs-6" id="Cheques">  </div>
         <div class="col-xs-6" id="CreditCards">  </div>
        <div class="col-xs-6" id="Total">  </div>-->
    </div>

    <div class="col-xs-12" ng-show="funds.length == 0">
        <div class="col-md-12">
            <h4>No funds found</h4>
        </div>
    </div>
</div>