 <div class="row">
    <div class="col-md-12" ng-show="students.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-student/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Student</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Student Name&nbsp;</th>
        <th>Email&nbsp;</th>
        <th>Address&nbsp;</th>
        <th>City&nbsp;</th>
        <th>State&nbsp;</th>
        <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in students">
                <td>{{data.name}} <br> {{data.description}}</td>
                <td>{{data.email}}</td>
                <td>{{data.address}}</td>
                <td>{{data.city}}</td>
                <td>{{data.state}}</td>
                <td><a href="#/edit-student/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Student</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="students.length == 0">
        <div class="col-md-12">
            <h4>No students found</h4>
        </div>
    </div>
</div>