﻿<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
</style>
<div class="view">
<!--    <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
        <a class= "navbar-brand" href= "#/customers"><i class="glyphicon glyphicon-th-large"></i> Customers List </a>
        <a ng-show="customer._id" class= "navbar-brand" href= "#/edit-customer/0"><i class="glyphicon glyphicon-plus"></i> Create Customer </a>
        <a ng-show="customer._id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Customer Number: {{customer._id}}</a>
        </div>
        </nav>-->
        <header ng-show="error.indexOf('Created')==-1">
            <h3>{{title}}</h3>
        </header>
<div class="col-md-12">
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<div ng-show="error.indexOf('Created')!=-1">Thanks for signing up! 
    <a href="#login">
        <input class="btn btn-primary" type="button" id="login" value="Login" />
     </a>  
 </div>       
<form ng-show="error.indexOf('Created')==-1" role="form" name="myForm" class="form-horizontal" ng-submit="saveCustomer(customer);">
<div class="row">
<div class= "form-group">
    <label class= "col-md-2"> Name </label>
    <div class="col-md-4">
    <input name="name" ng-model="customer.name" type= "text" class= "form-control" placeholder="Your name" required/>
    <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Name Required</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2"> Email address </label>
    <div class="col-md-4">
    <input name="email" ng-model="customer.email" type= "email" class= "form-control" placeholder="Enter email" required/>
    <span ng-show="myForm.email.$dirty && myForm.email.$invalid && !myForm.email.$error.email" class="help-inline">Email Required</span>
    <span ng-show="myForm.email.$error.email" class="help-inline">Email is not valid</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Address </label>
    <div class="col-md-4">
    <input ng-model="customer.address" type= "text" class= "form-control" placeholder= "Street Address"/>
    </div>
    <label class= "col-md-2">City </label>
    <div class="col-md-4">
    <input ng-model="customer.city" ng-maxlength="50" type= "text" class= "form-control" placeholder= "City"/>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">State/Country </label>
    <div class="col-md-4">
    <input ng-model="customer.state" ng-maxlength="50" type= "text" class= "form-control" placeholder= "State/Country"/>
    </div>
    <label class="col-md-2">Zip/Postal Code </label>
    <div class="col-md-4">
    <input ng-model="customer.zip" ng-maxlength="20" type= "text" class= "form-control" placeholder= "Zip/Postal Code"/>
    </div>
</div>
<div class= "form-group">
    <label class="col-md-2">Phone no. </label>
    <div class="col-md-4">
    <input ng-model="customer.phone" ng-maxlength="25" type= "text" class= "form-control" placeholder= "Phone"/>
    </div>
    <label class="col-md-2">Web </label>
    <div class="col-md-4">
    <input ng-model="customer.web" ng-maxlength="500" type= "text" class= "form-control" placeholder= "Web Address"/>
    </div>

</div>
<div class= "form-group">
    <label class="col-md-2">Contact person</label>
    <div class="col-md-4">
    <input ng-model="customer.contact_person" ng-maxlength="50" type= "text" class= "form-control" placeholder= "Contact person"/>
    </div>
    <label class="col-md-2">Contact person 2</label>
    <div class="col-md-4">
    <input ng-model="customer.contact_person2" ng-maxlength="50" type= "text" class= "form-control" placeholder= "Contact person 2"/>
    </div>
    
</div>

<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="#/" class="btn">Cancel</a>
        <button type="submit" 
                ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">{{buttonText}}</button>
        <!--<button ng-click="deleteCustomer(customer)"
                ng-show="customer._id" class="btn btn-warning">Delete</button>-->
    </div>
</div>
</div>
</form>

</div>
</div>
