<!--
Copyright (c) 2016 and beyond, Farrukh Shahzad
All rights reserved.

Redistribution in source and binary forms, with or without modification, are  NOT permitted.

Free for educational and researh Use. Any commercial use requires copyright holder's permission and royality agreement. 


THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, 
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS 
BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS 
OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, 
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->
<!DOCTYPE html>
<html ng-app="myApp" ng-app lang="en">
<!--<html style="width: 100%;height: 100%">-->
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vIncome (2016)</title>

 <!--   <link rel="stylesheet" href="css/font-awesome.min.css" />-->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/donate.css" rel="stylesheet" type="text/css"/>
    <link href="css/signin.css" rel="stylesheet" type="text/css"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="resources/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="resources/ie-emulation-modes-warning.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="resources/ie10-viewport-bug-workaround.js"></script>

    <script src="resources/jquery.min.js"></script>
    <script src="resources/bootstrap.min.js"></script>    
    
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="app/app.js"></script> 
      
    <script src="authentication/services.js"></script>
    <script src="authentication/controllers.js"></script>
</head>

<body style="width: 100%; height: 100%;overflow: visible;">

<div class="noPrint well well-sm header">
    <div class="row">
        <div class="col-sm-3">
            <span class="btn btn-primary btn-xs left_button subtitle"> Copyright (c) Visonics 2016 and beyond</span>
        <!--<span><input class="btn btn-primary btn-xs left_button" type="button" id="browser" data-toggle="tooltip"
                     data-placement="bottom"
                     title="Toggle between Java and HTML5" value="Browser"
                     onclick="changeApp(false, true);"/>
        </span>-->
        </div>
        <div class="col-sm-6">
            <div class="btn btn-primary btn-xs title"><h1>Visual Income Sheet</h1></div>
        </div>
        <div class="col-sm-3">
        <span>
        <a href="#login">
        <input ng-show="globals.currentUser" class="btn btn-primary btn-xs right_button" type="button" id="logout" value="Logout" />
        </a>       
        </span>

        <span>
        <a href="#login">
        <input ng-show="!globals.currentUser" class="btn btn-primary btn-xs right_button" type="button" id="login" value="Login" />
        </a>       
        </span>
        <span>
        <a href="#edit-customer">
        <input ng-show="globals.currentUser" class="btn btn-primary btn-xs right_button" type="button" id="profile" value="Profile" />
        </a>       
        </span>            
        </div>
        <!--<span ng-disabled="$rootScope.globals.currentUser">
        <input class="btn btn-primary btn-xs right_button" type="button" id="logout" value="Logout"
               ng-click="/logout" />
         </span>-->
        </div>
    </div>
</div>

<div class="row view">
    <!-- <div class="col-sm-6" style="height:82%; ">
        <div id='appdiv' style="width: 100%;height:98%;"></div>
    </div>
    -->
    <!--<div class="col-sm-12" style="height:98%; overflow: auto">-->
        <ul ng-show="globals.currentUser" class="noPrint nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#sheets">Sheets</a></li>
            <li><a data-toggle="tab" href="#heads">Funds</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Account
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="#edit-customer">Profile</a></li>
                <li><a href="#login">Login/Logout</a></li>
                <li ng-show="services.getAccountId()>0"><a href="#password">Change Password</a></li> 
                </ul>
            </li> 

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Reports
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="#">Print Sheet</a></li>
                <li><a href="#">Monthly Total</a></li>
                <li><a href="#">YTD Totals</a></li> 
                </ul>
            </li>            
                        
        </ul>

        <div class="tab-content">
            <div id="sheets" class="tab-pane active">
                <div ng-view="" id="ng-view"></div>    
            </div>
            <div id="edit-customer" class="tab-pane fade">
                <div ng-view="" id="ng-view"></div>  
            </div>
            <div id="login" class="tab-pane fade">
                <div ng-view="" id="ng-view"></div>
            </div>
            <div id="heads" class="tab-pane fade">
              <div ng-view="" id="ng-view"></div>
            </div>
<!--
        <div class="tab-content">
         <div ng-view="" id="ng-view"></div>
        </div>
-->
        <!--<div id='reportdiv' style="margin-right:5px; height:98%; overflow: auto"></div>-->
    </div>
</div>
</body>
</html>

